In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
iris = pd.read_csv("C:/Users/anand/Downloads/IRIS.csv")

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
iris['species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: species, dtype: int64

In [7]:
def line_univariate(n = iris['sepal_length'], ob = 'Sepal Length'):
    print('The mean {} is: {}'.format(ob , n.mean()))

In [8]:
def xyz(Type = 'Iris-setosa' , obj = 'sepal_width'):
    print(iris[iris['species'] == Type ][obj].mean())

In [9]:
def fun1(Type = 'Iris-setosa' , obj = 'sepal_width'):
    print('The mean value of the {one} the species category {two}:'.format(one = obj , two = Type ))

In [10]:
x = iris['sepal_length']
y = iris['sepal_width']
z = iris['petal_length']
w = iris['petal_width']

In [11]:
line_univariate(x,'Sepal Length')
line_univariate(y,'Sepal Width')
line_univariate(z,'Petal Length')
line_univariate(w,'Petal Width')

The mean Sepal Length is: 5.843333333333335
The mean Sepal Width is: 3.0540000000000007
The mean Petal Length is: 3.7586666666666693
The mean Petal Width is: 1.1986666666666672

In [65]:
# IRIS SETOSA

In [12]:
fun1(Type = 'Iris-setosa' , obj = 'sepal_length')
xyz(Type = 'Iris-setosa' , obj = 'sepal_length')

fun1(Type = 'Iris-setosa' , obj = 'sepal_width')
xyz(Type = 'Iris-setosa' , obj = 'sepal_width')

fun1(Type = 'Iris-setosa' , obj = 'petal_length')
xyz(Type = 'Iris-setosa' , obj = 'petal_length')

The mean value of the sepal_length the species category Iris-setosa:
5.005999999999999
The mean value of the sepal_width the species category Iris-setosa:
3.4180000000000006
The mean value of the petal_length the species category Iris-setosa:
1.464